.home-head-gifts {
    background-size: cover;
    background-position: center;
    position: sticky;
    top: 0;
}

#navbar {
    background-color:#252b51;
  }

#navbar div a:hover {
    color: #ef4a24;
}

.logo {
    box-sizing: border-box;
}

.counter-sales {
    background-color: #fcf5e8;
    text-align: center;
    min-height: 450px; 
    padding: 30px 0;
}

#countdown {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#countdown div {
    border: 1px solid #ef4a24;
    border-radius: 5px;  
}

#countdown div p {
    box-sizing: border-box;
    color: #707070;
    font-size: 25px;
}

.day-hour {
    padding: 0px 57px;
}

.min-sec {
    padding: 0px 45px;
}
.sales-percent {
    color:#252b51;
    font-family: "Open Sans",sans-serif;
    font-size: 40px;
    font-style: italic;
    padding: 20px;
}
.gift-cards-body {
    background-color:white;
    align-content: center;
}

.gift-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.gift-cards-body span {
    color: #ef4a24;
}

.gift-cards-body p {
    color: #434343;
    font-family: "Open Sans",sans-serif;
}

.essential, .deep {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.gift-section-text {
    width: 50%;
    padding: 10px;
    text-align: left;
}

.gift-section-text div {
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gift-section-img {
    width: 50%;
    display: block;
}
.buttons-buy a {
    text-align: center;
    padding: 5px;
}

@media (min-width: 700px) {

    .essential, .deep  {
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    /* #countdown {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }*/
}  

.schedule-massage-section p {
    color: #434343;
}

.schedule-massage-section {
    justify-content: space-evenly;
}

#contacts {
    font-family: "Open Sans",sans-serif;
}

.footer h3 {
    font-family: 'Playfair Display',serif;
    color:#252b51;
}